node_modules
npm-debug.log
package-lock.json
yarn.lock
.pnpm-debug.log
dist
out-tsc
coverage
src/environments/
*.env
.DS_Store
Thumbs.db
*.swp
*.swo
*.swn
*.sublime-workspace
.idea
.vscode
.git
.gitignore
.dockerignore
