
:host ::ng-deep {
  .chat-form {
    width: 100%;
    padding: 0 16px 10px 8px;
    background: transparent; //var(--p-surface-300);
    //border-radius: 8px;
  }

  .chat-input-container {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;

    .chat-input {
      flex-grow: 1;
      border: none;
      outline: none;
      resize: none;
      padding: 8px;
      font-size: 16px;
      border-radius: 10px;
      //min-height: 60px;
      max-height: 120px;

      line-height: 24px;
      display: flex;
      align-items: center;
    }

    .icon-button {
      background: transparent;
      border-radius: var(--p-button-border-radius);
      border: none;
      background: transparent;
      color: #888;
    }

    .icon-button:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }

  emoji-picker {
    --emoji-font-family: 'Twemoji Mozilla';
  }
}

