
<form [formGroup]="chatForm" (ngSubmit)="sendTextMessage()" class="chat-form">
  <div class="flex chat-input-container">
    <p-button icon="pi pi-face-smile"
      styleClass="icon-button"
      pTooltip="Enviar Emojis"
      tooltipPosition="top"
      showDelay="700"
      [hidden]="!canSendMessage"
      (onClick)="toggleEmogiPopover($event)" ></p-button>

    <p-button icon="pi pi-paperclip"
      styleClass="icon-button"
      pTooltip="Enviar Arquivos"
      tooltipPosition="top"
      showDelay="700"
      [hidden]="!canSendMessage"
      (onClick)="toggleFilePopover($event)"></p-button>

    <p-button icon="pi pi-list"
      styleClass="icon-button"
      pTooltip="Enviar Template"
      tooltipPosition="top"
      showDelay="700"
      (onClick)="openTemplateDialog($event)"></p-button>

    <textarea pTextarea
      formControlName="message"
      [autoResize]="true"
      rows="1"
      class="chat-input"
      [readonly]="!canSendMessage"
      (keydown.control.enter)="handleEnterKeyEvent($event)"
      (keydown.enter)="sendTextMessage()">
    </textarea>

    <p-button [icon]="canSendMessage ? 'pi pi-send' : 'pi pi-ban'" styleClass="icon-button" type="submit" [disabled]="!canSendMessage"></p-button>
  </div>
</form>

<p-popover #emojiPopover>
  <emoji-picker class="light" (emoji-click)="onEmojiSelected($event)" ></emoji-picker>
</p-popover>

<p-popover #filePopover>
  <div class="flex flex-column gap-1 w-14rem">
    <p-button icon="pi pi-camera" label="Foto" styleClass="w-full justify-content-start"></p-button>
    <p-button icon="pi pi-video" label="Vídeo" styleClass="w-full justify-content-start" variant="text"></p-button>
    <p-button icon="pi pi-file" label="Documento" styleClass="w-full justify-content-start" variant="text"></p-button>
    <p-button icon="pi pi-map-marker" label="Localização" styleClass="w-full justify-content-start" variant="text"></p-button>
  </div>
</p-popover>


<p-dialog header="Templates" [(visible)]="templateDialogVisible" [modal]="true" [style]="{ width: '40%' }">
  <p-scrollpanel>
    @for (item of templates; track $index) {
      @if (item.isFollowUpTemplate) {
        <p-panel header="Perseguição" [toggleable]="true" [style]="{ backgroundColor: 'var(--p-surface-300)'}">
          @for (template of item.templates; track $index) {
            <p-card>
              <div>
                {{ template.templateBodyMirror }}
              </div>

              <p-divider />
              <ng-template #footer>
                <div class="flex justify-content-end">
                    <p-button label="Enviar" icon="pi pi-send" iconPos="right" variant="outlined" (onClick)="sendTemplate(template)" />
                </div>
            </ng-template>
            </p-card>
          }
        </p-panel>
      }

      @if (item.isWelcomeMessage) {
        <p-panel header="Abordagem" [toggleable]="true" [style]="{ backgroundColor: 'var(--p-surface-300)'}">
          @for (template of item.templates; track $index) {
            <p-card>
              <div>
                {{ template.templateBodyMirror }}
              </div>

              <p-divider />
              <ng-template #footer>
                <div class="flex justify-content-end">
                    <p-button label="Enviar" icon="pi pi-send" iconPos="right" variant="outlined" />
                </div>
            </ng-template>
            </p-card>
          }
        </p-panel>
      }

      @if (item.isAppointmentTemplate) {
        <p-panel header="Agendamento" [toggleable]="true" [style]="{ backgroundColor: 'var(--p-surface-300)'}">
          @for (template of item.templates; track $index) {
            <p-card>
              <div>
                {{ template.templateBodyMirror }}
              </div>

              <p-divider />
              <ng-template #footer>
                <div class="flex justify-content-end">
                    <p-button label="Enviar" icon="pi pi-send" iconPos="right" variant="outlined" />
                </div>
            </ng-template>
            </p-card>
          }
        </p-panel>
      }

      @if (item.isCustomerFeedBackTemplate) {
        <p-panel header="Agendamento" [toggleable]="true" [style]="{ backgroundColor: 'var(--p-surface-300)'}">
          @for (template of item.templates; track $index) {
            <p-card>
              <div>
                {{ template.templateBodyMirror }}
              </div>

              <p-divider />
              <ng-template #footer>
                <div class="flex justify-content-end">
                    <p-button label="Enviar" icon="pi pi-send" iconPos="right" variant="outlined" />
                </div>
            </ng-template>
            </p-card>
          }
        </p-panel>
      }
    }
  </p-scrollpanel>
</p-dialog>
