<p-card [style]="{ height: '100%'}">
  <p-toolbar>
    <ng-template pTemplate="left">
      <p-button
        icon="pi pi-plus"
        [raised]="true"
        label="Nova Empresa"
        [style]="{ marginRight: '0.4rem' }"
        severity="secondary"
        (onClick)="registerCompany()"
      />

      <p-button
        [disabled]="!activeEditButton"
        icon="pi pi-pencil"
        [raised]="true"
        label="Editar Empresa"
        severity="primary"
        (onClick)="editCompany()"
      />
    </ng-template>
    <ng-template pTemplate="right">
      <p-button
        [disabled]="!activeEditButton"
        icon="pi pi-cog"
        [raised]="true"
        label="Configurações"
        severity="primary"
        (onClick)="editCompany()"
      />
    </ng-template>
  </p-toolbar>

  <p-table
    [value]="companies"
    [lazy]="true"
    (onLazyLoad)="loadCompanies($event)"
    (onRowSelect)="showEditButton()"
    (onRowUnselect)="showEditButton()"
    [(selection)]="selectedCompany"
    styleClass="p-datatable-gridlines p-datatable-striped"
    [tableStyle]="{ 'min-width': '50rem', 'margin-top': '1rem' }"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10, 20, 50]"
    [showCurrentPageReport]="true"
    [virtualScrollItemSize]="46"
    [scrollable]="true"
    scrollHeight="100%"
    [resizableColumns]="true"
    [rowHover]="true"
    columnResizeMode="expand"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem"></th>
        <th>
          Nome
          <p-columnFilter type="text" field="BrandName" display="menu" />
        </th>
        <th>
          CNPJ
          <p-columnFilter type="text" field="CNPJ" display="menu" />
        </th>
        <th>
          Telefone
          <p-columnFilter type="text" field="PhoneNumber" display="menu" />
        </th>
        <th>
          Email
          <p-columnFilter type="text" field="Email" display="menu" />
        </th>
        <th>
          Ativo
          <p-columnFilter type="boolean" field="Enabled" display="menu" />
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-company>
      <tr>
        <td>
          <p-tableRadioButton [value]="company" />
        </td>
        <td>{{ company.brandName }}</td>
        <td>{{ company.identificationNumber }}</td>
        <td>{{ company.phoneNumber }}</td>
        <td>{{ company.email }}</td>
        <td>{{ company.enabled ? "Ativo" : "Inativo" }}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">Sem registros para mostrar.</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
